@import './_global.scss';

.thank-you-box {
  @include box-widths-and-padding;

  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;

  .user-selection {
    padding: 8px 16px;
    background-color: $Dark-Blue;
    border-radius: 18px;

    color: $primary-orange;
  }

  img#cool-pic {
    margin-bottom: 32px;
  }

  .user-selection {
    margin-bottom: 32px;
  }

  .header-message {
    margin-bottom: 24px;
  }

  .message {
    text-align: center;
    margin-bottom: 0;
  }
}
